.background-grey{
	background-color: #F5F5F5;
}

.dark-blue{
  font-size:14px;
	color: #1B3454;
	font-weight: 500;
  line-spacing:16 ;
}

.line-through{
  text-decoration: line-through
}
.dropdown-toggle::after {
    display:none;
}

.red-font{
	color: #C70000;
}

.fa-bars{
	color: #4D91E4;
	padding: 5px;
	border: 2px solid #4D91E4;
}

.green-pill{
	background-color:#BBEDD2;
	color: #575757;
}
.pink-pill{
	background-color:pink;
	color: #575757;
}
.yellow-pill{
	background-color:#FEEE74;
	color: #575757;
}
.fa-link{
	color: #4D91E4;
}
small{
	font-weight: 200;
  display: block;
}


i {
	float: right;
	vertical-align: middle;

}
.divTableRowBorder .blue-color-font:first-child{
  color: #1B3454;
  font-weight: 500;
}

.divTable{
	width: 100%;
  border: 1px #E8E8E8;
  font-family: Ubuntu;
  color: #6E6E6E;

}



.text-break{
  word-wrap:break-word;
  white-space: break-spaces;
}
.divTableHead{
  display: inline-block;
  padding-right: 10px;
  margin: 0px 0px 0px 0px;
  text-align: right;
  color: #6E6E6E;
}
.divTableCell{
  display: inline-block;
  padding-right: 10px;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 20px;

}
.moreButtonTextPadding{
  padding-bottom: 15px;
}
.padding-test{
  padding-bottom: 30px;
  padding-top: 30px;
}
.divTableHeading {
	background-color: #EEE;

	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;

	font-weight: bold;
}
.divTableBody {

	color: #003366;
}

.text-end{
  padding-right: 10px;
}

.divTableRowHeader{
  border-bottom: 1px solid #f5f5ff !important;
  padding: 0px 10px;


}
.divTableRowBorder{
  border-bottom: 1px solid #E8E8E8 !important;
  padding: 0px 10px;
  display: flex;
}
.align-left{
  text-align:left;
}

align-right{
  text-align: end;
}
.total-height{
	height: 50px;
}
.align-total{
  padding-left: 2px;
}



small{
	color:#6E6E6E;
}


float-left{
	float: left;
}
.vertical-align-middle{
  vertical-align: middle;
}

.font-gray{
	color: #6E6E6E;
  font-weight: 300;
}

.blue-row{
	background-color: #E5EFFB;
  color:#305C94;
	height: 40px;
  font-weight: 500;
  font-size: 15px;


}


.green-font{
	color:#20C36B;

}
.stick-bottom{
	position: fixed;
    bottom: 0
}
.border-right-blue-thick{
	border-right: 5px solid #BEDBFF;
}
.divTableRowHeader .divTableHead:first-of-type{
  text-align: left;

}

.border-right-blue{
  border-right: 1px solid #BEDBFF;
}
.font-size{
font-size:14px;
}
.font-orange{
	color:orange;
}
.no-border{
	border:none;
	margin-right: 100px;
}
p { margin-top:0 }

.padding-right{
	padding-right: 100px;
}

.dropdown-menu-moreButtons {
left: -250px ! important;
}
.no-outline{
	box-shadow: none;
}
.divTableCellSub{
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin-right: 100px;
  text-align: start;

}
.status-position{
  text-align: start;
  padding-left:20px;
}
.transform_upperCase{
  text-transform: capitalize;
}
