
.background-grey{
	background-color: #FAFAFA;

}

.dark-blue{
	color: #1B3454;
	font-weight: 500;
}
.dropdown-toggle::after {
    display:none;
}
.rounded{
	border: 1px solid;
	border-radius: 50%;
	padding: 2px;
}

.red-font{
	color: #C70000;
}

.fa-bars{
	color: #4D91E4;
	padding: 5px;
	border: 3px solid #4D91E4;
}

.green-pill{
	background-color:#BBEDD2;
	color: #575757;
}
.pink-pill{
	background-color:pink;
	color: #575757;
}
.yellow-pill{
	background-color:#FEEE74;
	color: #575757;
}
.fa-link{
	color: #4D91E4;
}
small{
	font-weight: 200;
  display: block;
}

.same-line{
	display: inline;
	padding: 10px;
}
i {
	float: right;
	vertical-align: middle;

}
.divTableRowBorder .blue-color-font:first-child{
  color: #1B3454;
  font-weight: 500;
}
.divTable{
	width: 100%;
	color: gray
}


.divTableHeading {


	height: 32px;
	background: #F5F5F5 0% 0% no-repeat padding-box;
	border-radius: 3px 3px 0px 0px;
	opacity: 1;
}
.divTableHead{
  display: inline-block;
  padding-right: 10px;
  margin: 0px 0px 0px 0px;
  text-align: right;
  height: 100% !important;
}
.divTableCell{

  display: inline-block;
  padding-right: 10px;
  margin: 0px 0px 0px 0px;
  text-align: right;
  height: 100% !important;

}
.divTableHeading {
	background-color: #EEE;

	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;

	font-weight: bold;
}
.divTableBody {

	color: #003366;
}
.table-border{
	border: 1px solid whitesmoke;

}
.cell-border{
	border: 1px solid whitesmoke;
	background-color: #FAFAFA;
	color: gray;
}



.text-end{
  padding-right: 10px;
}
.divTableRowBorder .divTableCell:first-of-type {
  text-align: left;


}
.divTableRowBorder{
  border-bottom: 1px solid #f5f5ff !important;
  padding: 10px;
  padding: 10px;
}

.total-height{
	height: 50px;
}
.align-total{

  padding-left: 2px;

}
.float-right{
	float: right;
}
.border-right{
	border-right-width: 5px;
	border-right-color: #F5F5F5;
}
.border-none{
  border: none;
}
small{
	color:#6E6E6E;
  margin-top: 10px;
}


float-left{
	float: left;
}
.vertical-align-middle{
  vertical-align: middle;
}

.font-gray{
	color: #6E6E6E;
  font-weight: 300;
}

.blue-row{
	background-color: #E5EFFB;
	color: #1B3454;
	height: 50px;
  padding-bottom: 13px;
  font-weight: 500;
  font-size: 15px;


}


.green-font{
	color:#20C36B;

}
.stick-bottom{
	position: fixed;
    bottom: 0
}
.border-right-blue-thick{
	border-right: 5px solid #BEDBFF;
}
.divTableRowBorder .divTableHead:first-of-type{
  text-align: left;
}

.border-right-blue{
  border-right: 1px solid #BEDBFF;
}
.font-size{
font-size:14px;
}
.font-orange{
	color:orange;
}
.no-border{
	border:none;
	margin-right: 100px;
}
p { margin-top:0 }

.padding-right{
	padding-right: 100px;
}

.dropdown-menu-moreButtons {
left: -250px ! important;
}
.no-outline{
	box-shadow: none;
}
.divTableCellSub{
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin-right: 100px;
  text-align: start;
  height: 100% !important;
}
