.table{
	color: gray;
}
.th_grey{
	background-color: #F5F5F5;
	font-size: 10px;
}
.background-grey{
	background-color: #FAFAFA;
	
}
.bg-sky{
	background-color: #F0F8FF;
}
.dark-blue{
	color: #003366;
}
.dropdown-toggle::after {
    display:none;
}
.rounded{
	border: 1px solid;
	border-radius: 50%;
	padding: 2px;
}

.red-font{
	color: red;
}
.bars-css{
	color: skyblue;
	padding: 5px;
}
.green-pill{
	background-color:lightgreen;
	color: gray;
}
.yellow-pill{
	background-color:yellow;
	color: gray;
}
small{
	font-weight: 200;
}
tr td:first-of-type { 
	text-align: left;
}
.same-line{
	display: inline;
	padding: 10px;
}
i {
	float: right;
	vertical-align: middle;
	
}
.divTable{
	display: table;
	width: 100%;
	color: gray
}

.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #f5f5ff;
	display: table-cell;
	padding: 3px 10px;
	
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
	color: #003366;
}
.table-border{
	border: 1px solid whitesmoke;

}
.cell-border{
	border: 1px solid whitesmoke;
	background-color: #FAFAFA;
	color: gray;
}
.divTableRow .divTableCell:first-of-type { 
	text-align: left;
	border-right-width: 5px;
	border-right-color: #F5F5F5;
}

.divTableRow .divTableCell:last-of-type { 
	text-align: left;
	
}

.float-right{
	float: right;
}
.border-right{
	border-right-width: 5px;
	border-right-color: #F5F5F5;
}

small{
	color:gray;
}

.icon-position {
    position: relative;
    bottom: 30px;
    
}
float-left{
	float: left;
}
.link-position{
	position: relative;
   left: 40px;
    
}
.ellipsis-positon{
	position: relative;
	right:15px;
	top:5px;
}
.font-gray{
	color: gray;
}
.total-height{
height: 50px;
}


